<div *ngIf="event">
  <h1>
    {{event.name}}
  </h1>

  <div>
    <img src="../../../assets/images/{{event.category}}.jpg" alt="">
  </div>
  <ul>
    <li>{{event.details}}</li>
    <li>{{event.location}}</li>
    <li>{{event.date}}</li>
  </ul>

  <div *ngFor="let application of applications.applications">{{application | json}}</div>

  <button (click)="handleApplyClick()">Apply to Event</button>

  <div [ngClass]="Showstatus">
    <div *ngFor="let item of statuses">
      Request {{item.status | json}}
    </div>
  </div>
</div>