<header id="site-header">
  <div class="nav-container">
    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="loading-screen">...loading...</span>
      </div>
      <div *ngIf="!loading && !!user">
        <a class="navbar-text" [routerLink]="['/profile']">{{user.username}}</a>
        <a class="navbar-text" (click)="logout()">logout</a>
      </div>
      <div *ngIf="!loading && anon">
        <a class="navbar-text" [routerLink]="['/login']">login</a>
      </div>
    </div>
  </div>
</header>

<div class="background-container">
  <div id="site-main" class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<footer id="site-footer">
  <div class="container">
    nice footer
  </div>
</footer>