<header id="site-header">
  <div *ngIf="loading">
    <p>....loading.... </p>
  </div>
  <div class="container">
    <div class="field-logout" *ngIf="user">
      <button (click)="logout()">Logout</button>
    </div>
    <div class="field-login" *ngIf="!user">
      <a [routerLink]="['/login']">Login</a>
    </div>
  </div>
</header>

<div class="background-container">
  <div id="site-main" class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<footer id="site-footer">
  <div class="container">
    nice footer
  </div>
</footer>