<header id="site-header">
  <div class="nav-container">
    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="loading-screen"></span>
      </div>

      <input id="show-menu" type="checkbox" [(ngModel)]="showMenu">
      <label class="show-menu-form" for="show-menu" style="font-size: 40px">...</label>

    </div>
  </div>
</header>

<div [hidden]="!showMenu" class="menu-container">
  <ul>
    <li *ngIf="!loading && !!user" class="menu-item">
      <a [routerLink]="['/profile']">
        Profile
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/events']">Events</a>
    </li>
    <li *ngIf="!loading && anon" class="menu-item">
      <a [routerLink]="['/login']">Login / Register</a>
    </li>
    <li *ngIf="!loading && !!user" class="menu-item">
      <a (click)="logout()" style="cursor: pointer">Logout</a>
    </li>
  </ul>
</div>

<div class="background-container">
  <div id="site-main">
    <router-outlet></router-outlet>
  </div>
</div>

<footer id="site-footer">
  <div class="container">
    nice footer
  </div>
</footer>