<div class="auth-container container">
  <div class="auth-header">
    <a [routerLink]="['/login']">
      <h1 class="login">Login</h1>
    </a>
    <h1 class="signup">Register</h1>
  </div>

  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}" class="auth-form">

    <div class="field" [ngClass]="{'has-error': usernameField.errors}">
      <input type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" required minlength="6" [disabled]="processing"
        placeholder="username" />
      <div *ngIf="usernameField.errors && (usernameField.dirty || usernameField.touched)">
        <p class="error" [hidden]="!usernameField.errors.required" [ngClass]="{'has-error': feedbackEnabled}">
          Username must be at least 6 characters long.
        </p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': emailField.errors}">
      <input type="email" name="email" [(ngModel)]="email" #emailField="ngModel" required [disabled]="processing" placeholder="email"
      />
      <div *ngIf="emailField.errors && (emailField.dirty || emailField.touched)">
        <p class="error" [hidden]="!emailField.errors" [ngClass]="{'has-error': feedbackEnabled}">
          Did you spell your email correctly?
        </p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': passwordField.errors}">
      <input type="password" name="password" [(ngModel)]="password" #passwordField="ngModel" required minlength="6" [disabled]="processing"
        placeholder="password" />
      <div *ngIf="passwordField.errors && (passwordField.dirty || passwordField.touched)">
        <p class="error" [hidden]="!passwordField.errors.required" [ngClass]="{'has-error': feedbackEnabled}">
          Password is to short
        </p>
      </div>
    </div>

    <div class="field-submit">
      <button class="auth-btn" type="submit" [disabled]="processing"> Register </button>
    </div>

    <div *ngIf="error" class="validation">
      <div [ngSwitch]="error.code">
        <p *ngSwitchCase="'username-not-unique'"> Username already exists</p>
        <p *ngSwitchDefault> unexpected error get out of here</p>
      </div>
    </div>
  </form>
</div>