<div *ngIf="user">
  <div class="container">

    <div *ngIf="user">
      <h1>{{user.username}}</h1>
    </div>

    <h2>Attending</h2>

    {{applications}}
    <h2>Events by me</h2>
    <ul>
      <div class="all-cards-row">
        <li *ngFor="let item of myEvents" class="event-card">
          <a [routerLink]="item._id">
            <p>{{item.name | titlecase}}</p>
            <img src="../../../assets/images/{{item.category}}.jpg" alt="">
          </a>
        </li>
      </div>
    </ul>
  </div>
</div>


































<!-- <div *ngIf="myEvents">
  <div class="all-cards-row">
    <div *ngFor="let item of myEvents" class="event-card">
      {{item.name}}
      <img src="../../../assets/images/{{item.category}}.jpg" alt="">
    </div>
  </div>

  <div class="checkbox">
    <input id="show-form" type="checkbox" [(ngModel)]="showForm">
    <button>
      <label class="show-create-form" for="show-form">
        <p>Edit</p>
      </label>
    </button>
  </div>


  <form [hidden]="!showForm" #createEvent="ngForm">
    <div class="field flex-column">
      <label for="name">Name your event</label>
      <input id="name" type="text" [(ngModel)]="name" name="name" #nameField="ngModel" required>
      <p *ngIf="nameField.touched && nameField.invalid">Please add a name</p>
    </div>
    <button (click)="hanldeEditClick()">Edit</button>
  </form>
</div> -->