<h1>Login</h1>

<form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">

  <div class="field" [ngClass]="{'has-error': usernameField.errors}">
    <p> Username
      <input type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" required [disabled]="processing" />
    </p>
    <div *ngIf="usernameField.errors && (usernameField.dirty || usernameField.touched)">
      <p class="error" [hidden]="!usernameField.errors.required" [ngClass]="{'has-error': feedbackEnabled}">
        Wrong username
      </p>
    </div>
  </div>

  <div class="field" [ngClass]="{'has-error': passwordField.errors}">
    <p> Password
      <input type="password" name="password" [(ngModel)]="password" #passwordField="ngModel" required [disabled]="processing" />
    </p>
    <div *ngIf="passwordField.errors && (passwordField.dirty || passwordField.touched)">
      <p class="error" [hidden]="!passwordField.errors.required" [ngClass]="{'has-error': feedbackEnabled}">
        Wrong password
      </p>
    </div>
  </div>

  <div *ngIf="error" class="validation">
    <div [ngSwitch]="error.code">
      <p *ngSwitchCase="'not-found'"> Wrong username or password</p>
      <p *ngSwitchDefault> unexpected error occured, try again later</p>
    </div>
  </div>

  <div class="field-submit">
    <button type="submit" [disabled]="processing"> Login </button>
  </div>
</form>