/* You can add global styles to this file, and also import other style files */
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

/* ---- Global styles ---- */

a {
  text-decoration:none;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat
}

p, a, button, input {
  font-family: Roboto
}

/* ---- Static styles ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: rgb(5, 1, 27);
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: rgb(5, 1, 27);
}

#site-main {
  min-height: calc(100vh - 120px);
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* -- forms signup/login -- */

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form input {
  padding: 5px;
  font-size: 16px;
}
.auth-form {
  background: rgb(125, 235, 180);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
  height: 42vh;
}

.auth-header .signup,
.auth-header .login {
  background: rgb(125, 235, 180);
  margin: 0;
  height: 50px;
  padding-top: 12px;
}

.auth-container {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}

.auth-header {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 66.67%;
}

.login, .signup, a{
  font-size: 20px;
  width: 50%;
  text-align: center;
}
.auth-container a h1 {
  width: 100%;
}

.auth-container a {
  opacity: 0.7;
}

.auth-form {
  text-align: center;
  padding: 50px 0
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; 
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; 
}

/* -- Create form -- */

.create-form {
  background: rgb(255, 255, 255);
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 20px black;
}

/* -- checkboxes -- */

input[type="checkbox"]:checked {
  appearance: none;
  background-color: #a94442;
	border: 1px solid #a94442;
	padding: 20px;
	border-radius: 50%;
  position: relative;
  outline:0;
  float: right;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #2a60c4;
	border: 1px solid #2a60c4;
	padding: 20px;
	border-radius: 50%;
  position: relative;
  outline:0;
  float: right;
}

/* -- List style -- */

ul {
  list-style: none;
  margin: 0
}






