/* You can add global styles to this file, and also import other style files */
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

a {
  text-decoration:none;
  color: black;
}

#site-header {
  padding: 30px 0;
  color: white;
  background: rgb(5, 1, 27);
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: rgb(5, 1, 27);
}

#site-main {
  min-height: calc(100vh - 120px);
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}


/* -- forms signup/login -- */

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: blue;
  cursor: pointer;
} 

.auth-form {
    background: rgb(125, 235, 180);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
    height: 40vh;
}

.auth-header .signup,
.auth-header .login {
  background: rgb(125, 235, 180);
  margin: 0;
  height: 50px;
  padding-top: 12px;
}

.auth-container {
  display: flex;
  flex-direction: column;
  
}

.auth-header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 65%;
}

.login, .signup, a{
  font-size: 20px;
  width: 50%;
  text-align: center;
}
.auth-container a h1 {
  width: 100%;
}

.auth-container a {
  opacity: 0.7;
}

.auth-form {
  text-align: center;
  padding: 50px 0
}

